<!DOCTYPE html>
<html>
    <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108165898-1"></script>
	<script>
	 window.dataLayer = window.dataLayer || [];
	 function gtag(){dataLayer.push(arguments);}
	 gtag('js', new Date());

	 gtag('config', 'UA-108165898-1');
	</script>

        <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="alternate" type="application/atom+xml" title="xvw blog" href="/atom.xml" />
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Playfair+Display:400,700,900|Fira+Mono" rel="stylesheet">
        <link rel="stylesheet" href="/css/default.css" />
        <title>xvw - $title$</title>
    </head>

    <body>
	$body$
	<footer>
	    Merci 
	    <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
	    tu es un superbe générateur ❤ 
	</footer>
    </body>
    <script src="/js/hl.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</html>
