<p>
J'ai commencé à peindre avec des aérosols il y a quelques années. Cependant
j'avais arrêté pour faire une assez longue pause. J'ai repris il y a peu,
après une interruption de deux ans ! Mon objectif est de reprendre
régulièrement cette activité, pour expérimenter et rencontrer/revoir plein
de gens.
</p>

<div class="articles">
  <h2>Sorties</h2>
  <ol class="list-posts" reversed>
    $for(paintings)$
    <li class="publication-item">
      <span>Le $date$ : </span>
      <a href="$url$">$title$</a>
    </li>
    $endfor$
  </ol>
</div>
