<div id="resume-reader" class="history-tooltip">
  <a href="../index.html">Revenir à l'accueil</a>
  <div id="resume-box"></div>
  <div class="progress">
    <div id="progress-bar"></div>
  </div>
</div>

<main class="article">

  <h1 class="main-title">$title$</h1>
  <div class="date">Publié le $date$</div>
  $body$
  <div id="eof-article"></div>
  <div class="article-footer">
    Cet article est terminé ! <br/> Si jamais vous avez des remarques, n'hésitez pas à écrire un <strong>commentaire</strong> ou à <a href="https://github.com/xvw/blog">contribuer</a>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
      this.page.url = "https://xvw.github.io$url$";
      this.page.identifier = "$path$";
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = 'https://xvw-blog-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</main>
<script src="/js/hl.js"></script>
<script>
  hljs.initHighlightingOnLoad();
  __useResumable("$url$");
</script>
